@media only screen and (min-width: 768px) and (max-width: 959px) {
  /*Qualidade Home*/
  .qualidade:after {
    right: 66px;
  }

  .qualidade_lista li{
    padding: 0 10px;
  }

  /*Footer*/
  .footer_redes ul li a{
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
  }

  .footer_redes ul li a img{
    width: 26px;
    height: 26px;;
  }
}
  
@media only screen and (max-width: 767px) {

  /*Header*/
  .header{
    position: relative;
    padding-bottom: 0px;
  }

  .header img{
    margin: 0 auto 20px auto;
  }

  .header_menu{
    text-align: center;
  }

  .header_menu ul li{
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover{
    border-color: #fff; 
  }

    
  .header_menu ul li a.menu_ativo {
    border-color: #FFF;
  }

  /*Introdução*/

  .introducao h1 {
    font-size: 48px;
  }

  .introducao{
    margin-top: 0px;
    padding-top: 0px;
    background: url("../img/bg_mobile.jpg") no-repeat center;
    background-size: cover;
    height: 410px;
  }

  
  /*Introdução interna*/
  .introducao-interna{
    width: 100px;
    margin-top: 0px;
  }

  /*Call*/
  .call{
    padding-top: 10px;
  }

  /*Qualidade Home*/
  .qualidade:after {
    display: none;
  }

  /*sobre*/

  .missao_sobre p{
   font-size: 14px;
   line-height: 20px;
    padding-right: 60px;
  }

  .missao_sobre p{
    
  }
    
}